{% extends "layout.html" %}
{% block content %}
    <article>
        <div class="card mb-2">
            <div class="card-header">
                <img style="width: 40px; border-radius: 50%;" class="mr-2" src="{{ url_for('static', filename='profile_pictures/' + post.author.image_file) }}">
                <a class="card-link" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a> on <span class="text-muted">{{ post.date_posted.strftime('%d %B, %Y') }}</span>
                {% if post.author == current_user %}
                    <div>
                        <a class="btn btn-secondary btn-sm m-2" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    </div>
                {% else %}
                    {% if current_user.is_authenticated %}
                        {% if current_user.is_followingbyid(post.user_id)%}
                            <a class="btn btn-outline-success btn-sm" href="{{ url_for('follow_action', type='follow', user_id=post.user_id, action='unfollow' ) }}">Following</a>
                        {% else %}
                            <a class="btn btn-outline-primary btn-sm" href="{{ url_for('follow_action', type='follow', user_id=post.user_id, action='follow' ) }}">Follow</a>
                        {% endif %}
                    {% else %}
                        <a class="btn btn-primary" href="{{ url_for('login') }}">Follow</a>
                    {% endif %}
                {% endif %}
            </div>

            <div class="card-body">

               <h5 class="card-title">{{ post.title }}</h5>

            <input type="image" id="btn-play" onclick="set_music('{{ url_for('static', filename='tracks/' + post.track) }}', '{{ post.title }}' )" src="{{url_for('static', filename='images/play.png') }}" width="10%" height="10%" alt="{{ url_for('static', filename='tracks/' + post.track) }}"/>
                   <!-- <audio style="width:100%;" controls preload="none">
                       <source src="{{ url_for('static', filename='tracks/' + post.track) }}">
                   </audio> -->
                <p class="card-text">{{ content|safe }}</p>
                {% if current_user.is_authenticated %}
                    {{ post.likers.count() }}
                    {% if current_user!=post.author %}
                        {% if current_user.is_liking(post) %}
                            <a class="fa fa-thumbs-down" href="{{ url_for('like_action', post_id=post.id, action='unlike') }}"></a>
                        {% else %}
                            <a class="fa fa-thumbs-up" href="{{ url_for('like_action', post_id=post.id, action='like') }}"></a>
                        {% endif %}
                    {% else %}
                        <a class="fa fa-thumbs-up"></a>
                    {% endif %}
                    &nbsp;
                    {{ num_comment}}
                    <a class="fa fa-comments"></a>
                {% else %}
                    <a class="fa fa-thumbs-up" href="{{ url_for('login') }}"></a>
                {% endif %}
                <br>


        </div>
        <div  class="ml-5 mr-5">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group flex-row">
                    <div class="form-group">
                        {{ form.body.label(class="form-control-label") }}
                        {% if form.body.errors %}
                            {{ form.body(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.body.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.body(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </fieldset>
            </form>
        </div>
        <div >
            <h3 style="margin-left: 15px">Comments Section</h3>
            <legend class="border-bottom pb-2 mb-4"></legend>
        </div>
        <div>
            {% for comment in comments%}
            <div  class="card flex-row ml-5 mr-5 mb-3">
                <div class="card-header">
                    <div style="text-align:center;">
                        <a href="{{ url_for('user_posts', username=comment.author.username) }}">
                            <img style="width: 70%; border-radius: 50%;" src="{{ url_for('static', filename='profile_pictures/' + comment.author.image_file) }}">
                        </a>
                    </div>
                </div>
                <div style="margin:auto; text-align:center;">
                  <p style="font-size:70%;" ><a class="card-link" href="{{ url_for('user_posts', username=comment.author.username) }}">{{ comment.author.username }} </a>says<p>
                    <p style="font-size:120%;">{{comment.body}}</p>
                </div>
            </div>



            {% endfor %}
        </div>

    </article>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
