{% extends "layout.html" %}
{% block content %}
    <div style="max-width: 600px;" class="ml-auto mr-auto card flex-row">
        <div class="m-4">
            <img style="border-radius: 50%" width=150  src="{{ url_for('static', filename='profile_pictures/' + user.image_file) }}">
        </div>
        <div class="card-block mt-auto mb-auto ml-2">
            <h2 class="card-title">{{ user.username }}
                {% if current_user.is_authenticated %}
                {% if user != current_user %}
                    {% if current_user.is_followingbyid(user.id)%}
                        <a class="btn btn-outline-success btn-sm" href="{{ url_for('follow_action', type='follow', user_id=user.id, action='unfollow' ) }}">Following</a>
                    {% else %}
                        <a class="btn btn-outline-primary btn-sm" href="{{ url_for('follow_action', type='follow', user_id=user.id, action='follow' ) }}">Follow</a>
                    {% endif %}
                {% endif %}
            {% else %}
                <a class="btn btn-primary" href="{{ url_for('login') }}">Follow</a>
            {% endif %}
            </h2>
            <p class="card-text">{{ user.email }}</p>
        </div>
        <div class="card-block mt-auto mb-auto ml-2">

        </div>
    </div>
    <h1 class="mb-3">Posts by {{ user.username }} ({{ posts.total }})</h1>
    {% for post in posts.items %}
        <article>
            <div class="card mb-2">
                <div class="card-header">
                    <img style="width: 40px; border-radius: 50%;" class="mr-2" src="{{ url_for('static', filename='profile_pictures/' + post.author.image_file) }}">
                    <a class="card-link" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a> on <span class="text-muted">{{ post.date_posted.strftime('%d %B, %Y') }}</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><a class="card-link" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
                      <input type="image" id="btn-play" onclick="set_music('{{ url_for('static', filename='tracks/' + post.track) }}', '{{ post.title }}' )" src="{{url_for('static', filename='images/play.png') }}" width="10%" height="10%" alt="{{ url_for('static', filename='tracks/' + post.track) }}"/>
                    </h5>
                    <!-- <audio style="width:100%;" controls preload="none">
                        <source src="{{ url_for('static', filename='tracks/' + post.track) }}">
                    </audio> -->
                    <p class="card-text">{{ contents[loop.index0]|safe }}</p>
                    {% if current_user.is_authenticated %}
                        {% if current_user!=post.author %}
                            {% if current_user.is_liking(post) %}
                                <a class="fa fa-thumbs-down" href="{{ url_for('like_action', post_id=post.id, action='unlike') }}"></a>
                            {% else %}
                                <a class="fa fa-thumbs-up" href="{{ url_for('like_action', post_id=post.id, action='like') }}"></a>
                            {% endif %}
                        {% endif %}
                        <a class="fa fa-comments" href="{{ url_for('post', post_id=post.id) }}"></a>
                    {% else %}
                        <a class="fa fa-thumbs-up" href="{{ url_for('login') }}"></a>
                    {% endif %}
                    <br>
                    {{ post.likers.count() }} likes

                </div>
            </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_current=1, left_edge=1, right_current=2, right_edge=1) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock %}
