@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

#bar{
top: 0px;
position: fixed;
width: 100%;
}

#songs{
    padding: 60px 0px 100px 0px;
}

#controles {
  background: #343a40;
  color : white;
  font-family: 'Major Mono Display', monospace;
  position: fixed;
  bottom:0;
  width:100%;
  margin:0;
  height: 70px;
  padding:10px 0px 10px 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

#player_body {
  padding: 0px 10px 0px 10px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.botao {
  cursor:pointer;
}


.card {
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.card .view {
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px; }

.card h5 a {
  color: #0d47a1;
}
.card h5 a:hover {
  color: #072f6b;
}

#pButton {
  float: left;
  margin-top: 3px;
  cursor: pointer;
}

#lButton {
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

#timeline {
  width: 90%;
  height: 2px;
  margin-top: 10px;
  margin-left: 20px;
  float: left;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3); }


#playhead {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: -3px;
  background: black;
  cursor: pointer; }
